<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- 配置文件 -->
    <properties resource="generator.properties"></properties>

    <context id="MysqlContext" targetRuntime="MyBatis3" defaultModelType="flat">

        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- 由于beginningDelimiter和endingDelimiter的默认值为双引号(")，在Mysql中不能这么写，所以还要将这两个默认值改为`  -->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!-- 为生成的Java模型创建一个toString方法 -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"></plugin>

        <!-- 为生成的Java模型类添加序列化接口，并生成serialVersionUID字段 -->
        <plugin type="com.jovo.common.plugin.SerializablePlugin">
            <property name="suppressJavaInterface" value="false"/>
        </plugin>

        <!-- 生成一个新的selectByExample方法，这个方法可以接收offset和limit参数，主要用来实现分页，只支持mysql(已使用pagehelper代替) -->
        <!--<plugin type="com.jovo.common.plugin.PaginationPlugin"></plugin>-->

        <!-- 生成在XML中的<cache>元素 -->
        <plugin type="org.mybatis.generator.plugins.CachePlugin">
            <!-- 使用ehcache -->
            <property name="cache_type" value="org.mybatis.caches.ehcache.LoggingEhcache" />
            <!-- 内置cache配置 -->
            <!--
            <property name="cache_eviction" value="LRU" />
            <property name="cache_flushInterval" value="60000" />
            <property name="cache_readOnly" value="true" />
            <property name="cache_size" value="1024" />
            -->
        </plugin>

        <!-- Java模型生成equals和hashcode方法 -->
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"></plugin>

        <!-- 生成的代码去掉注释 -->
        <commentGenerator type="com.jovo.common.plugin.CommentGenerator">
            <property name="suppressAllComments" value="true" />
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库连接 -->
        <jdbcConnection driverClass="[(${jdbcDriver})]"
                        connectionURL="[(${jdbcUrl})]"
                        userId="[(${jdbcUsername})]"
                        password="[(${jdbcPassword})]">
            <!--MySQL 8.x 需要指定服务器的时区-->
            <property name="serverTimezone" value="UTC"/>
            <!--MySQL 不支持 schema 或者 catalog 所以需要添加这个-->
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <!-- model生成 -->
        <javaModelGenerator targetPackage="[(${generator_javaModelGenerator_targetPackage})]" targetProject="[(${targetProject})]/src/main/java" />

        <!-- MapperXML生成 -->
        <sqlMapGenerator targetPackage="[(${generator_sqlMapGenerator_targetPackage})]" targetProject="[(${targetProject_sqlMap})]/src/main/java" />

        <!-- Mapper接口生成 -->
        <javaClientGenerator targetPackage="[(${generator_javaClientGenerator_targetPackage})]" targetProject="[(${targetProject})]/src/main/java" type="XMLMAPPER" />

        <!-- 需要映射的表 -->
        [# th:each="table : ${tables}"]
            [# th:if="${last_insert_id_tables.containsKey(table.table_name)} == true"]
                <table tableName="[(${table.table_name})]" domainObjectName="[(${table.model_name})]">
                    <generatedKey column="[(${last_insert_id_tables.get(table.table_name)})]" sqlStatement="MySql" identity="true"/>
                </table>
            [/]
            [# th:unless="${last_insert_id_tables.containsKey(table.table_name)} == true"]
                <table tableName="[(${table.table_name})]" domainObjectName="[(${table.model_name})]"></table>
            [/]
        [/]
    </context>
</generatorConfiguration>
