<template>
  <el-dialog :visible.sync="dialog" :close-on-click-modal="false" :before-close="reset" :title="isAdd ? '新增权限' : '编辑权限'" append-to-body width="580px">
    <el-form ref="form" :inline="true" :model="form" :rules="rules" size="small" label-width="80px">
      <el-form-item label="菜单类型">
        <el-radio-group v-model="form.type" size="mini" style="width: 210px">
          <el-radio-button v-show="form.type.toString() === '0' || isAdd" label="0">主目录</el-radio-button>
          <el-radio-button v-show="form.type.toString() === '1' || isAdd" label="1">子菜单</el-radio-button>
          <el-radio-button v-show="form.type.toString() === '2' || isAdd" label="2">其他</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-show="form.type.toString() !== '2'" label="菜单图标">
        <el-popover
          placement="bottom-start"
          width="450"
          trigger="click"
          @show="$refs['iconSelect'].reset()">
          <IconSelect ref="iconSelect" @selected="selected" />
          <el-input slot="reference" v-model="form.icon" style="width: 450px;" placeholder="点击选择图标" readonly>
            <svg-icon v-if="form.icon" slot="prefix" :icon-class="form.icon" class="el-input__icon" style="height: 32px;width: 16px;" />
            <i v-else slot="prefix" class="el-icon-search el-input__icon"/>
          </el-input>
        </el-popover>
      </el-form-item>
      <el-form-item v-show="form.type.toString() !== '2'" label="外链菜单">
        <el-radio-group v-model="form.iframe" size="mini">
          <el-radio-button label="true">是</el-radio-button>
          <el-radio-button label="false">否</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-show="form.type.toString() === '1'" label="菜单缓存">
        <el-radio-group v-model="form.cache" size="mini">
          <el-radio-button label="true">是</el-radio-button>
          <el-radio-button label="false">否</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-show="form.type.toString() !== '2'" label="菜单可见">
        <el-radio-group v-model="form.hidden" size="mini">
          <el-radio-button label="false">是</el-radio-button>
          <el-radio-button label="true">否</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-show="form.type.toString() !== '2'" label="菜单标题" prop="name">
        <el-input v-model="form.menuName" :style=" form.type.toString() === '0' ? 'width: 450px' : 'width: 178px'" placeholder="菜单标题"/>
      </el-form-item>
      <el-form-item v-show="form.type.toString() === '2'" label="名称">
        <el-input v-model="form.menuName" placeholder="名称" style="width: 178px;"/>
      </el-form-item>
      <el-form-item label="权限标识">
        <el-input :disabled="form.iframe === 'true'" v-model="form.pmsCode" placeholder="权限标识" style="width: 178px;"/>
      </el-form-item>
      <el-form-item v-if="form.type.toString() !== '2'" label="路由地址" prop="path">
        <el-input v-model="form.path" placeholder="路由地址" style="width: 178px;"/>
      </el-form-item>
      <el-form-item label="菜单排序">
        <el-input-number v-model.number="form.sort" :min="0" :max="999" controls-position="right" style="width: 178px;"/>
      </el-form-item>
      <el-form-item v-show="form.iframe === 'false' && form.type.toString() === '1'" label="组件名称">
        <el-input v-model="form.componentName" style="width: 178px;" placeholder="匹配组件内Name字段"/>
      </el-form-item>
      <el-form-item v-show="form.iframe === 'false' && form.type.toString() === '1'" label="组件路径">
        <el-input v-model="form.component" style="width: 178px;" placeholder="组件路径"/>
      </el-form-item>
      <el-form-item label="上级类目">
        <treeselect v-model="form.pid" :options="menus" :show-count="true" style="width: 450px;" placeholder="选择上级类目"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="reset">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>
import store from '@/store'
import { add, edit, getPermissionTree } from '@/api/permission'
import Treeselect from '@riophae/vue-treeselect'
import IconSelect from '@/components/IconSelect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
export default {
  components: { Treeselect, IconSelect },
  props: {
    isAdd: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      account: store.getters.user.userName,
      loading: false, dialog: false, menus: [],
      form: { menuName: '', sort: 999, path: '', component: '', componentName: '', iframe: 'false', roles: [], pid: 0, icon: '', cache: false, hidden: false, type: 0, permission: '' },
      rules: {
        menuName: [
          { required: true, message: '请输入名称', trigger: 'blur' }
        ],
        path: [
          { required: true, message: '请输入地址', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    reset() {
      this.resetForm()
    },
    doSubmit() {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          this.loading = true
          if (this.isAdd) {
            this.doAdd()
          } else this.doEdit()
        } else {
          return false
        }
      })
    },
    doAdd() {
      this.form.createtime = Math.floor(Date.now() / 1000)
      this.form.updatetime = this.form.createtime
      this.form.editor = this.account
      this.form.creator = this.form.editor
      add(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '添加成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(() => {
        this.loading = false
      })
    },
    doEdit() {
      this.form.updatetime = Math.floor(Date.now() / 1000)
      this.form.editor = this.username
      edit(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: res.data,
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(() => {
        this.loading = false
      })
    },
    resetForm() {
      this.dialog = false
      this.$refs['form'].resetFields()
      this.form = { name: '', sort: 999, path: '', component: '', componentName: '', iframe: 'false', roles: [], pid: 0, icon: '', cache: false, hidden: false, type: 0, permission: '' }
    },
    selected(name) {
      this.form.icon = name
    },
    getPmss() {
      getPermissionTree().then(res => {
        this.menus = []
        const menu = { id: 0, label: '顶级类目', children: [] }
        menu.children = res.data
        this.menus.push(menu)
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  /deep/ .el-input-number .el-input__inner {
    text-align: left;
  }
</style>
