<template>
  <div class="app-container">
    <Search :query="query"/>
    <!--表格渲染-->
    <el-table v-loading="loading" :data="data" size="small" style="width: 100%;">
      <el-table-column prop="userName" label="用户名"/>
      <el-table-column :show-overflow-tooltip="true" prop="optIp" label="IP"/>
      <!-- <el-table-column prop="optAddress" label="IP来源"/> -->
      <el-table-column prop="optBrowser" label="浏览器"/>
      <el-table-column prop="optOs" label="操作系统"/>
      <el-table-column prop="optInfo" label="描述"/>
      <el-table-column prop="optTime" label="请求耗时" align="center">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.optTime <= 300">{{ scope.row.optTime }}ms</el-tag>
          <el-tag v-else-if="scope.row.optTime <= 1000" type="warning">{{ scope.row.optTime }}ms</el-tag>
          <el-tag v-else type="danger">{{ scope.row.optTime }}ms</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="createtime" label="创建日期" width="180px">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createtime * 1000) }}</span>
        </template>
      </el-table-column>
    </el-table>
    <!--分页组件-->
    <el-pagination
      :total="total"
      :current-page="page + 1"
      :page-sizes="[10, 20, 30, 50, 100]"
      :page-size="20"
      style="margin-top: 8px;"
      layout="total, prev, pager, next, sizes"
      @size-change="sizeChange"
      @current-change="pageChange"/>
  </div>
</template>

<script>
import initData from '@/mixins/initData'
import { parseTime } from '@/utils/index'
import Search from './search'
export default {
  components: { Search },
  mixins: [initData],
  created() {
    this.$nextTick(() => {
      this.init()
    })
  },
  methods: {
    parseTime,
    beforeInit() {
      const baseUrl = process.env.SSO_URL
      this.url = baseUrl + '/admin/logs'
      const sort = 'id,desc'
      const query = this.query
      const type = query.type
      const value = query.value
      this.params = { page: this.page, size: 20, sort: sort }
      if (type && value) { this.params[type] = value }
      return true
    }
  }
}
</script>

<style scoped>

</style>
